[Desktop Entry]
Name=ZebVR
GenericName=ZebVR
X-GNOME-FullName=ZebVR
Comment=Virtual reality for fish
Exec=bash -c 'source ~/miniconda3/etc/profile.d/conda.sh && conda activate ZebVR && cd /home/martin/Development/ZebVR && python ZebVR/main.py'
Icon=/home/martin/Development/ZebVR/ZebVR/resources/zebvr.png
Terminal=true
Type=Application